[Desktop Entry]
Type=Application
Version=1.5
Name=GoshLauncher
Comment=Qt 6 + Kirigami launcher with Spotlight-goshos search
Icon=com.goshapps.GoshLauncher
GenericName=Launcher
Categories=Qt;KDE;Utility;
Terminal=false
TryExec=ulauncher
Exec=ulauncher show
StartupWMClass=com.goshapps.GoshLauncher
SingleMainWindow=true
