[Desktop Entry]
Type=Application
Version=1.5
Name=Ulauncher
Comment=GTK 4 launcher with Spotlight-goshos search and looks
Icon=ulauncher
GenericName=Launcher
Categories=GNOME;GTK;Utility;
DBusActivatable=true
Terminal=false
TryExec=ulauncher
Exec=gapplication launch io.ulauncher.Ulauncher
SingleMainWindow=true
X-GNOME-UsesNotifications=true
