# Keep all .venv depdencencies in this file.
# It's used as the source of truth to determine if a .venv is outdated

PySide6
build
git-cliff >= 2.13, < 3
lefthook == 2.*
pylint
pyrefly >= 1.2.0
pytest
pytest-mock
ruff >= 0.16.2, < 0.17.0
rumdl == 0.2.*; python_version >= '3.9'
typing-extensions
typos == 1.*
