Source: ulauncher
Section: python
Priority: extra
Build-Depends: debhelper (>=9~),
 dh-python,
 python3-all,
 python3-setuptools
Maintainer: GoshLauncher contributors <goshitsarch@gmail.com>
Standards-Version: 4.1.4
X-Python3-Version: >= 3.8
Homepage: https://github.com/goshitsarch-eng/GoshLauncher
Vcs-Browser: https://github.com/goshitsarch-eng/GoshLauncher
Rules-Requires-Root: no

Package: ulauncher
Architecture: all
Depends: ${misc:Depends},
 ${python3:Depends},
 libgtk-4-1 (>= 4.6),
 gir1.2-gtk-4.0,
 libadwaita-1-0 (>= 1.1),
 gir1.2-adw-1,
 gir1.2-glib-2.0,
 gir1.2-gdkpixbuf-2.0,
 python3-gi,
 python3-gi-cairo
Recommends: python3-levenshtein, python3-xlib, wmctrl, x11-utils, gir1.2-ayatanaappindicator3-0.1, xdg-desktop-portal, gir1.2-gtk4-layer-shell-1.0 | libgtk4-layer-shell0
Suggests: git
Description: GTK 4 + libadwaita application launcher
 GoshLauncher opens with Ctrl+Space and searches URLs, paths, folders,
 bookmarks, apps, calculator, units, color, clock, windows, system actions,
 GNOME Settings, recent files, and the web last unless @. Seventeen looks
 own popup colors. See https://github.com/goshitsarch-eng/spotlight-goshos
